<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="post">
        <label for="round">Round:</label>
        <select name="round">
            <!--<option value="Pre Seed">Pre Seed</option>-->
            <option value="Seed">Seed</option>
            <option value="Series A">Series A</option>
            <option value="Series B">Series B</option>
            <option value="Series C">Series C</option>
            <option value="Series D">Series D</option>
            <option value="Series E">Series E</option>
            <option value="Series F">Series F</option>
            <!--<option value="Private Equity">Private Equity</option>-->
        </select><br><br>
        <label for="lastroundvaluation">Last round Valuation:</label>
        <input type="text" name="lastroundvaluation"><br><br>
        <label for="equity">Equity %:</label>
        <input type="text" name="equity"><br><br>
        <label for="sector">Sector:</label>
        <select name="sector">
            <option value="All">All</option>
            <option value="Consumer">Consumer</option>
            <option value="Digital Health">Digital Health</option>
            <option value="Cloud Infrastructure">Cloud Infrastructure</option>
            <option value="Cybersecurity">Cybersecurity</option>
            <option value="Fintech">Fintech</option>
            <option value="SaaS">SaaS</option>
            <option value="Supply Chain + Automation">Supply Chain + Automation</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
