<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h2>Form Data</h2>
    <p><strong>Round:</strong> {{ round }}</p>
    <p><strong>Last round Valuation:</strong> {{ lastroundvaluation }}</p>
    <p><strong>Most recent ARR:</strong> {{ inputARR }}</p>
    <p><strong>Equity %:</strong> {{ equity }}</p>
    <p><strong>Sector:</strong> {{ sector }}</p>
    <h2>Base Rates</h2>
    <p><strong>Probability of raising next round valuation between 0-10 M:</strong> {{ next1 }}</p>
    <p><strong>Probability of raising next round valuation between 10-25 M:</strong> {{ next2 }}</p>
    <p><strong>Probability of raising next round valuation between 25-50 M:</strong> {{ next3 }}</p>
    <p><strong>Probability of raising next round valuation between 50-75 M:</strong> {{ next4 }}</p>
    <p><strong>Probability of raising next round valuation between 75-150 M:</strong> {{ next5 }}</p>
    <p><strong>Probability of raising next round valuation between 150-300 M:</strong> {{ next6 }}</p>
    <p><strong>Probability of raising next round valuation between 300-500 M:</strong> {{ next7 }}</p>
    <p><strong>Probability of raising next round valuation between 500-750 M:</strong> {{ next8 }}</p>
    <p><strong>Probability of raising next round valuation between 750-1b:</strong> {{ next9 }}</p>
    <p><strong>Probability of raising next round valuation between 1b-2b:</strong> {{ next10 }}</p>
    <p><strong>Probability of raising next round valuation between 2b-5b:</strong> {{ next11 }}</p>
    <p><strong>Probability of raising next round valuation above 5b:</strong> {{ next12 }}</p>
    <p><strong>Probability of exit between 0-200 M:</strong> {{ exit1 }}</p>
    <p><strong>Probability of exit between 200-500 M:</strong> {{ exit2 }}</p>
    <p><strong>Probability of exit between 500-1b:</strong> {{ exit3 }}</p>
    <p><strong>Probability of exit between 1b-2b:</strong> {{ exit4 }}</p>
    <p><strong>Probability of exit between 2b-5b:</strong> {{ exit5 }}</p>
    <p><strong>Probability of exit above 5b:</strong> {{ exit6 }}</p>
    <p><strong>Median headcount:</strong> {{ median_headcount }}</p>
    <!--<p><strong>Estimated ARR per FTE from Headcount + ICONIQ report:</strong> {{ estimated_arr_per_fte }}</p>
    <p><strong>Estimated ARR:</strong> {{ estimated_arr }}</p>
    <p><strong>Average funding:</strong> {{ average_funding }}</p>
    <p><strong>Median funding:</strong> {{ median_funding }}</p>-->
    <!--<p><strong>Average time to next round in typical series (days):</strong> {{ avg_time_to_next_round_typical }}</p>-->
    <p><strong>Median time to next round in typical series (days):</strong> {{ median_time_to_next_round_typical }}</p>
    <!--<p><strong>Average time to any next round (days):</strong> {{ avg_time_to_any_next_round }}</p>-->
    <p><strong>Median time to any next round (days):</strong> {{ median_time_to_any_next_round }}</p>
    <!--<p><strong>Average time to exit (days):</strong> {{ avg_time_to_exit }}</p>-->
    <p><strong>Median time to exit (days):</strong> {{ median_time_to_exit }}</p>
    <p><strong>Probability of personal exit 1-500K</strong> {{ prob_gain_0_500K }}</p>
    <p><strong>Probability of personal exit 500K-1M</strong> {{ prob_gain_500K_1M }}</p>
    <p><strong>Probability of personal exit 1M-5M</strong> {{ prob_gain_1_5M }}</p>
    <p><strong>Probability of personal exit 5M-10M</strong> {{ prob_gain_5M_10M }}</p>
    <p><strong>Probability of personal exit 10M+</strong> {{ prob_gain_10M_plus }}</p>
    <p><strong>Probability of ARR between 0 and 2 M in 1 year:</strong> {{ pARR1 }}</p>
    <p><strong>Probability of ARR between 2 and 5 M in 1 year:</strong> {{ pARR2 }}</p>
    <p><strong>Probability of ARR between 5 and 10 M in 1 year:</strong> {{ pARR3 }}</p>
    <p><strong>Probability of ARR between 10 and 20 M in 1 year:</strong> {{ pARR4 }}</p>
    <p><strong>Probability of ARR between 20 and 50 M in 1 year:</strong> {{ pARR5 }}</p>
    <p><strong>Probability of ARR between 50 and 100 M in 1 year:</strong> {{ pARR6 }}</p>
    <p><strong>Probability of ARR between 100 and 500 M in 1 year:</strong> {{ pARR7 }}</p>
    <p><strong>Probability of ARR between 500 and 1000 M in 1 year:</strong> {{ pARR8 }}</p>


    <a href="https://docs.google.com/spreadsheets/d/1OXdKSdTFxn_udzRq4ZZt58mraml3qD12CBh06TT6A2c/edit?usp=sharing" target="_blank">
        <button>See All Data</button>
    </a>
    <a href="/">
        <button>Back to Form</button>
    </a>
</body>
</html>
